[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "cmake-scripts"]
	path = cmake-scripts
	url = https://github.com/CometCarlos/cmake-scripts
